@import "_nullstyle";

//General style start===============================
body {
   background-color: #7d5353;
   color: #7d5353;
   font-family: "Balsamiq Sans", cursive;
}

.wrapper {
   width: 1440px;
   margin: 0 auto;
   @media (max-width: 1450px) {
      width: 1200px;
   }
   @media (max-width: 1200px) {
      width: 900px;
   }
   @media (max-width: 750px) {
      width: 100%;
   }
}

.button {
   transition: 0.2s linear;

   &:hover {
      transform: scale(1.1);
   }
}
.title {
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
}
//.container {
//   width: 1366px;
//   margin: 0 auto;
//}
//Mixins +++++++++++++++++++++++++++++++++++++++++++
@mixin flex($justify: space-between) {
   display: flex;
   align-items: center;
   justify-content: $justify;
}

// Header style start
.site-header {
   height: 50px;
   background: linear-gradient(180deg, rgba(135, 47, 122, 0.78) 0%, rgba(42, 38, 112, 0.72) 100%);
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   color: #ffffff;

   @include flex();

   .logo {
      padding-left: 30px;
      font-size: 14px;
      line-height: 17px;

      @media (max-width: 750px) {
         display: none;
      }
   }
   .subtitle {
      @media (max-width: 750px) {
         padding-left: 20px;
      }
   }
   .admin {
      padding-right: 30px;

      @media (max-width: 750px) {
         display: none;
      }
   }
   .header__burger {
      display: none;
      width: 35px;
      height: 25px;
      margin-right: 10px;
      position: relative;

      @media (max-width: 750px) {
         display: block;
      }

      .burger__line {
         display: block;
         width: 100%;
         height: 3px;
         background-color: #ffffff;
         position: absolute;
         left: 0;
      }

      .burger__line-first {
         top: 0;
      }

      .burger__line-second {
         top: 50%;
         transform: translateY(-50%);
      }

      .burger__line-third {
         bottom: 0;
      }
   }
}
// Header style end

// Main style start
.main {
   display: grid;
   grid-template-columns: 1fr 5fr;
   min-height: 974px;
   @media (max-width: 750px) {
      grid-template-columns: 1fr;
   }
}

// Aside style start
.aside-nav {
   background-color: #f8f2f2;

   @media (max-width: 750px) {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      transform: translateX(-100%);
      transition: 0.2s all linear;
   }

   &.is-open {
      transform: translateX(0);
   }

   .close {
      display: none;

      @media (max-width: 750px) {
         display: block;
         margin-top: 22px;
         margin-left: 92%;
         font-size: 33px;
         font-weight: 700;
      }
   }
   .nav {
      display: flex;
      flex-direction: column;
      margin-top: 28px;

      .active {
         background: #d9d4d4;
      }
   }
}

.nav__item {
   width: 100%;
   height: 41px;

   margin-bottom: 16px;

   .link {
      display: block;
      width: 100%;
      height: 100%;
      padding-left: 33px;
      font-size: 18px;
      @include flex(flex-start);
      color: #7d5353;

      @media (max-width: 1450px) {
         padding-left: 10px;
         padding-right: 5px;
      }

      @media (max-width: 750px) {
         padding-left: 33px;
         font-size: 20px;
      }

      &:hover {
         border-top: 1px solid #d9d4d4;
         border-bottom: 1px solid #d9d4d4;
         border-left: 8px solid #d9d4d4;
      }

      img {
         margin-right: 15px;
      }
   }
}
// Aside style end

// Main style start

.section-main {
   background-color: #f0e7e7;

   .container {
      width: 1085px;
      margin-left: 70px;
      margin-right: 65px;
      @media (max-width: 1450px) {
         width: 100%;
         margin: 0;
         padding: 0 20px 0 20px;
      }
   }
}

.top-main {
   margin: 26px 0 39px 0;

   .title {
      text-align: center;
      padding-right: 140px;
      margin-bottom: 25px;

      @media (max-width: 1200px) {
         padding-right: 0;
      }
   }
}
.cards-main {
   @include flex();
   flex-wrap: wrap;

   @media (max-width: 1200px) {
      justify-content: center;
   }

   @media (max-width: 750px) {
      flex-direction: column;
   }
   .card {
      width: 230px;
      height: 260px;
      display: flex;
      flex-direction: column;
      align-items: center;

      background: #e8d6d6;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;

      .card__title {
         margin-top: 48px;
         margin-bottom: 40px;

         font-weight: 400;
         font-size: 24px;
         line-height: 29px;
      }
      .card__body {
         margin-bottom: 37px;
         font-weight: 400;
         font-size: 18px;
         line-height: 22px;
         & span:last-child {
            margin-left: 20px;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
         }
      }

      @media (max-width: 1200px) {
         margin: 10px 10px 10px 10px;
      }
   }
}

.shedule-main {
   .title {
      margin-left: 12px;
      margin-bottom: 10px;
   }
   img {
      width: 100%;
   }
}
// Main style end

// Questions-main style start

.questions-main {
}
.question-card {
   width: 1109px;
   padding: 25px 50px 45px 34px;
   background-color: #f0d4d4;
   border-radius: 10px;
   font-weight: normal;
   font-size: 18px;
   line-height: 22px;
   position: relative;

   .group-batton {
      position: absolute;
      top: 23px;
      right: 4px;
   }

   .date {
      margin-bottom: 8px;
   }

   & div + div {
      margin-bottom: 8px;
   }
}

.date__title {
}
.date__date {
}
.date__time {
}

.button {
}
.button--ansver {
}
.button--no-ansver {
}
.status {
}
.status--yes {
}

.name__title {
}
.name__body {
}
.email {
}
.email__title {
}
.email__body {
}
.location {
}
.location__title {
}
.location__body {
}
.quest {
}
.quest__title {
}
.quest__body {
}
